@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", "serif";
}
.navbar {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  /* border-bottom: 1px solid black ; */
  width: 100%;
  box-shadow: 5px 3px 3px 3px rgb(206, 206, 206);
  height: 10vh;
}

.logo {
  background-color: rgb(30, 30, 30);
  color: white;
  padding: 10px 15px;
  border-radius: 40px;
  font-size: 22px;
}

.blocks-ul {
  list-style: none;
  display: flex;
  width: 40vw;
  justify-content: space-evenly;
}
img {
  background-color: white;
  align-self: center;
  margin: 0 auto;
}
.blocks-ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

.login-div {
  font-size: 16px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-right: 20px;

}

.login-span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 5vw;
}

.carousel-img {
  display: flex;
  width: 100%;
  object-fit: cover;
  margin: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  height: 50vh;
  filter: brightness(60%)
}

/*  */

.img-text {
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 30px;
  color: black;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.images {
  display: flex;
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
  height: 50vh;
  justify-content: center;
  border-radius: 10px;
  
}

.image-cont{
    width: 50%;
    position: relative;
    overflow: hidden;
    height: 50vh;
    transition: all 0.3s ease-in;
}

.image-cont:hover{
    width: 80%;
    overflow: hidden;
    object-fit: cover;
    
}

.image-cont:nth-child(1){
    border-radius: 10px 0px 0px 10px;
}


.image-cont:nth-child(3){
    border-radius: 0px 10px 10px 0px;
}

